.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.input-search {
  text-align: center;
  margin: 20px;
}

fieldset {
  border-radius: 10px;
  padding: 5px 40px 15px 40px;
}

.input-radio {
  text-align: center;
  margin: 20px;
}

.input-radio legend {
  margin-left: -250px;
}

.input-checkbox {
  text-align: center;
  margin: 20px;
}

.input-checkbox legend {
  margin-left: -250px;
}

.card {
  border: 1px solid #4b5563;
  border-radius: 10px;
  margin: 1rem;
  max-width: 20%;
  padding: 0 0 1rem;
  display: inline-block;
}

.card img {
  border-radius: 9px;
}
